In [2]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

In [3]:
# Use Spark to read csv file
SuicideStats = spark.read.csv("data/who_suicide_statistics.csv",inferSchema=True,header=True)
HDIStats = spark.read.csv("data/Human Development Index.csv",inferSchema=True,header=True)
WDIStats = spark.read.csv("data/World_Development_Indicators.csv",inferSchema=True,header=True)

In [10]:
#Data Exploration

#Explore the volumn of the dataset WHO Suicide Statistics
print((SuicideStats.count(), len(SuicideStats.columns)))

(43776, 6)

In [11]:
#Explore the volumn of the dataset Human Development Index
print((HDIStats.count(), len(HDIStats.columns)))

(189, 31)

In [12]:
#Explore the volumn of the dataset World Development Indicators
print((WDIStats.count(), len(WDIStats.columns)))

(6944, 6)

In [15]:
#Explore the data quality of the dataset WHO Suicide Statistics
print(SuicideStats.columns)
SuicideStats.show(6)

['country', 'year', 'sex', 'age', 'suicides_no', 'population']
+-------+----+------+-----------+-----------+----------+
|country|year|   sex|        age|suicides_no|population|
+-------+----+------+-----------+-----------+----------+
|Albania|1985|female|15-24 years|       null|    277900|
|Albania|1985|female|25-34 years|       null|    246800|
|Albania|1985|female|35-54 years|       null|    267500|
|Albania|1985|female| 5-14 years|       null|    298300|
|Albania|1985|female|55-74 years|       null|    138700|
|Albania|1985|female|  75+ years|       null|     34200|
+-------+----+------+-----------+-----------+----------+
only showing top 6 rows

In [16]:
#Explore the data type of the dataset WHO Suicide Statistics
SuicideStats.printSchema()

root
 |-- country: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: string (nullable = true)
 |-- suicides_no: integer (nullable = true)
 |-- population: integer (nullable = true)

In [23]:
SuicideStats.select("sex").distinct().show()
SuicideStats.select("age").distinct().show()
print(SuicideStats.select("country").distinct().count())
SuicideStats.select("country").distinct().show()

+------+
|   sex|
+------+
|female|
|  male|
+------+

+-----------+
|        age|
+-----------+
|55-74 years|
|25-34 years|
| 5-14 years|
|  75+ years|
|15-24 years|
|35-54 years|
+-----------+

141
+--------------------+
|             country|
+--------------------+
|            Anguilla|
|            Paraguay|
|          Cabo Verde|
|              Sweden|
|            Kiribati|
|   Republic of Korea|
|              Guyana|
|         Philippines|
|Occupied Palestin...|
|            Malaysia|
|           Singapore|
|                Fiji|
|              Turkey|
|      TFYR Macedonia|
|                Iraq|
|             Germany|
|              Jordan|
|            Maldives|
|              France|
|Turks and Caicos ...|
+--------------------+
only showing top 20 rows

In [7]:
#Explore the general statistics of the dataset WHO Suicide Statistics
SuicideStats.describe().show()

+-------+--------+------------------+------+-----------+-----------------+------------------+
|summary| country|              year|   sex|        age|      suicides_no|        population|
+-------+--------+------------------+------+-----------+-----------------+------------------+
|  count|   43776|             43776| 43776|      43776|            41520|             38316|
|   mean|    null|1998.5024671052631|  null|       null|193.3153901734104|1664091.1353742562|
| stddev|    null|10.338711176746282|  null|       null|800.5899259349637|3647231.2274873867|
|    min| Albania|              1979|female|15-24 years|                0|               259|
|    max|Zimbabwe|              2016|  male|  75+ years|            22338|          43805214|
+-------+--------+------------------+------+-----------+-----------------+------------------+

In [4]:
#Explore the data quality of the dataset Human Development Index
print(HDIStats.columns)
HDIStats.show(6)

['HDI Rank', 'Country', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']
+--------+-----------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|HDI Rank|          Country| 1990| 1991| 1992| 1993| 1994| 1995| 1996| 1997| 1998| 1999| 2000| 2001| 2002| 2003| 2004| 2005| 2006| 2007| 2008| 2009| 2010| 2011| 2012| 2013| 2014| 2015| 2016| 2017| 2018|
+--------+-----------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|     170|      Afghanistan|0.298|0.304|0.312|0.308|0.303|0.327|0.331|0.335|0.339|0.343|0.345|0.347|0.378|0.387|  0.4| 0.41|0.419|0.431|0.436|0.447|0.464|0.465|0.479|0.485|0.488| 0.49|0.491|0.493|0.496|
|      69|          Albania|0.644|0.625|0.608|0.611|0.617|0.629|0.639|0.639|0.649| 0.66|0.667|0.673| 0.68|0.687|0.692|0.702|0.709|0.718|0.724|0.729| 0.74|0.759|0.771|0.781|0.787|0.788|0.788|0.789|0.791|
|      82|          Algeria|0.578|0.582|0.589|0.593|0.597|0.602| 0.61|0.619|0.629|0.638|0.646|0.655|0.666|0.676|0.685|0.694|0.699|0.708|0.711| 0.72| 0.73|0.738|0.737|0.746|0.749|0.751|0.755|0.758|0.759|
|      36|          Andorra|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|0.759|0.767| 0.78| 0.82|0.826|0.819|0.829|0.829|0.831| 0.83|0.828|0.827|0.849|0.846|0.853| 0.85|0.854|0.852|0.857|
|     149|           Angola|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|0.384|0.394|0.404|0.419|0.428| 0.44|0.453|0.466|0.482|0.494|0.508| 0.51|0.525|0.537|0.547|0.557|0.565| 0.57|0.576|0.574|
|      74|AntiguaandBarbuda|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|0.773|0.779|0.784|0.783|0.776|0.772|0.764|0.767|0.767|0.767| 0.77|0.772|0.774|0.776|
+--------+-----------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 6 rows

In [5]:
#Explore the data type of the dataset Human Development Index
HDIStats.printSchema()

root
 |-- HDI Rank: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- 1990: string (nullable = true)
 |-- 1991: string (nullable = true)
 |-- 1992: string (nullable = true)
 |-- 1993: string (nullable = true)
 |-- 1994: string (nullable = true)
 |-- 1995: string (nullable = true)
 |-- 1996: string (nullable = true)
 |-- 1997: string (nullable = true)
 |-- 1998: string (nullable = true)
 |-- 1999: string (nullable = true)
 |-- 2000: string (nullable = true)
 |-- 2001: string (nullable = true)
 |-- 2002: string (nullable = true)
 |-- 2003: string (nullable = true)
 |-- 2004: string (nullable = true)
 |-- 2005: string (nullable = true)
 |-- 2006: string (nullable = true)
 |-- 2007: string (nullable = true)
 |-- 2008: string (nullable = true)
 |-- 2009: string (nullable = true)
 |-- 2010: string (nullable = true)
 |-- 2011: string (nullable = true)
 |-- 2012: string (nullable = true)
 |-- 2013: string (nullable = true)
 |-- 2014: string (nullable = true)
 |-- 2015: string (nullable = true)
 |-- 2016: string (nullable = true)
 |-- 2017: double (nullable = true)
 |-- 2018: double (nullable = true)

In [6]:
#Explore the general statistics of the dataset Human Development Index
HDIStats.describe().show()

+-------+-----------------+-----------+-------------------+------------------+-------------------+-------------------+-------------------+------------------+-------------------+------------------+------------------+-----------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+------------------+-------------------+-------------------+
|summary|         HDI Rank|    Country|               1990|              1991|               1992|               1993|               1994|              1995|               1996|              1997|              1998|             1999|               2000|               2001|               2002|              2003|               2004|               2005|              2006|               2007|               2008|               2009|               2010|               2011|              2012|               2013|              2014|               2015|              2016|               2017|               2018|
+-------+-----------------+-----------+-------------------+------------------+-------------------+-------------------+-------------------+------------------+-------------------+------------------+------------------+-----------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+------------------+-------------------+-------------------+
|  count|              189|        189|                189|               189|                189|                189|                189|               189|                189|               189|               189|              189|                189|                189|                189|               189|                189|                189|               189|                189|                189|                189|                189|                189|               189|                189|               189|                189|               189|                189|                189|
|   mean|94.77248677248677|       null| 0.5949513888888888|0.5971597222222224| 0.5969790209790211| 0.6028611111111108| 0.6065277777777774|0.6103445945945944|  0.615858108108108|0.6191700680272109|0.6262432432432437|0.626814569536424|   0.62732183908046| 0.6329540229885059| 0.6388800000000002| 0.643994350282486| 0.6505307262569835| 0.6540537634408602|0.6611290322580645| 0.6681075268817206| 0.6741612903225808|              0.678|  0.681712765957447| 0.6874202127659573|0.6922659574468086|  0.697127659574468|0.7013989361702128| 0.7053510638297874| 0.708489361702128| 0.7112222222222223| 0.7134708994708996|
| stddev|54.74045223905498|       null|0.16559426064600388|0.1659663654186352|0.16557515924678484|0.16770526973848346|0.17017526729998575|0.1689925616379318|0.16869249123917165|0.1681109945696617|0.1693128015950585| 0.17098102834227|0.16947293297641114|0.16910990427413294|0.16791377918854467|0.1680289645342278|0.16595157309405328|0.16487937379999615| 0.163487910177461|0.16223995991027756|0.16067884977099967|0.15777250128638434|0.15668153758878414|0.15506161968527132|0.1538444367098304|0.15355305195799956|0.1526419928026906|0.15229314593351687|0.1521042243771921|0.15121385917194813|0.15079461673378391|
|    min|                1|Afghanistan|                 ..|                ..|                 ..|                 ..|                 ..|                ..|                 ..|                ..|                ..|               ..|                 ..|                 ..|                 ..|                ..|                 ..|                 ..|                ..|                 ..|                 ..|                 ..|                 ..|                 ..|                ..|                 ..|                ..|                 ..|                ..|              0.373|              0.377|
|    max|              189|   Zimbabwe|              0.866|             0.867|              0.868|              0.872|              0.885|             0.883|              0.888|             0.894|             0.906|            0.911|              0.917|              0.916|              0.918|             0.924|              0.934|              0.932|             0.936|              0.938|              0.938|              0.938|              0.942|              0.943|             0.942|              0.946|             0.945|              0.948|             0.951|              0.953|              0.954|
+-------+-----------------+-----------+-------------------+------------------+-------------------+-------------------+-------------------+------------------+-------------------+------------------+------------------+-----------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+------------------+-------------------+-------------------+

In [8]:
#Explore the data quality of the dataset World Development Indicators
print(WDIStats.columns)
WDIStats.show(6)

['Country Name', 'Year', 'Employment to population ratio', 'GDP', 'GDP per capita', 'Gini index']
+------------+----+------------------------------+----+--------------+----------+
|Country Name|Year|Employment to population ratio| GDP|GDP per capita|Gini index|
+------------+----+------------------------------+----+--------------+----------+
| Afghanistan|1985|                          null|null|          null|      null|
| Afghanistan|1986|                          null|null|          null|      null|
| Afghanistan|1987|                          null|null|          null|      null|
| Afghanistan|1988|                          null|null|          null|      null|
| Afghanistan|1989|                          null|null|          null|      null|
| Afghanistan|1990|                          null|null|          null|      null|
+------------+----+------------------------------+----+--------------+----------+
only showing top 6 rows

In [9]:
#Explore the data type of the dataset World Development Indicators
WDIStats.printSchema()

root
 |-- Country Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Employment to population ratio: double (nullable = true)
 |-- GDP: double (nullable = true)
 |-- GDP per capita: double (nullable = true)
 |-- Gini index: double (nullable = true)

In [10]:
#Explore the general statistics of the dataset World Development Indicators
WDIStats.describe().show()

+-------+------------+-----------------+------------------------------+--------------------+------------------+-----------------+
|summary|Country Name|             Year|Employment to population ratio|                 GDP|    GDP per capita|       Gini index|
+-------+------------+-----------------+------------------------------+--------------------+------------------+-----------------+
|  count|        6944|             6944|                          4862|                5979|              5976|             1550|
|   mean|        null|           2000.5|              57.6225362242226|2.745890309848958...| 13124.04119241654|38.62148387096775|
| stddev|        null|9.233757553344075|            11.968146617150545|1.111967617317697E12|20099.670239668914|9.432100956926329|
|    min| Afghanistan|             1985|                   26.32999992|       2.144196696E7|       164.1918663|             20.2|
|    max|    Zimbabwe|             2016|                    90.4469986|          1.69723E13|       194368.4055|             65.8|
+-------+------------+-----------------+------------------------------+--------------------+------------------+-----------------+

In [22]:
#Explore missing values in the dataset WHO Suicide Statistics
from pyspark.sql.functions import when, count, col

SuicideStats.select([count(when(col(c).isNull(), c)).alias(c) for c in SuicideStats.columns]).show()
SuicideStats.describe().filter(col("summary")  == "count").show()

+-------+----+---+---+-----------+----------+
|country|year|sex|age|suicides_no|population|
+-------+----+---+---+-----------+----------+
|      0|   0|  0|  0|       2256|      5460|
+-------+----+---+---+-----------+----------+

+-------+-------+-----+-----+-----+-----------+----------+
|summary|country| year|  sex|  age|suicides_no|population|
+-------+-------+-----+-----+-----+-----------+----------+
|  count|  43776|43776|43776|43776|      41520|     38316|
+-------+-------+-----+-----+-----+-----------+----------+

In [21]:
#Re-import dataset, taking .. as null value
HDIStats = spark.read.csv("data/Human Development Index.csv",inferSchema=True, header=True, nullValue="..")

#Explore missing values in the dataset World Development Indicators
HDIStats.select([count(when(col(c).isNull(), c)).alias(c) for c in HDIStats.columns]).show()
HDIStats.describe().filter(col("summary")  == "count").show()

+--------+-------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|HDI Rank|Country|1990|1991|1992|1993|1994|1995|1996|1997|1998|1999|2000|2001|2002|2003|2004|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|
+--------+-------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|       0|      0|  45|  45|  46|  45|  45|  41|  41|  42|  41|  38|  15|  15|  14|  12|  10|   3|   3|   3|   3|   3|   1|   1|   1|   1|   1|   1|   1|   0|   0|
+--------+-------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+

+-------+--------+-------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|summary|HDI Rank|Country|1990|1991|1992|1993|1994|1995|1996|1997|1998|1999|2000|2001|2002|2003|2004|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|
+-------+--------+-------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|  count|     189|    189| 144| 144| 143| 144| 144| 148| 148| 147| 148| 151| 174| 174| 175| 177| 179| 186| 186| 186| 186| 186| 188| 188| 188| 188| 188| 188| 188| 189| 189|
+-------+--------+-------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+

In [23]:
#Explore missing values in the dataset World Development Indicators
WDIStats.select([count(when(col(c).isNull(), c)).alias(c) for c in WDIStats.columns]).show()
WDIStats.describe().filter(col("summary")  == "count").show()

+------------+----+------------------------------+---+--------------+----------+
|Country Name|Year|Employment to population ratio|GDP|GDP per capita|Gini index|
+------------+----+------------------------------+---+--------------+----------+
|           0|   0|                          2082|965|           968|      5394|
+------------+----+------------------------------+---+--------------+----------+

+-------+------------+----+------------------------------+----+--------------+----------+
|summary|Country Name|Year|Employment to population ratio| GDP|GDP per capita|Gini index|
+-------+------------+----+------------------------------+----+--------------+----------+
|  count|        6944|6944|                          4862|5979|          5976|      1550|
+-------+------------+----+------------------------------+----+--------------+----------+

In [24]:
#TODO

#Explore the extreme values and outliers of the dataset WHO Suicide Statistics
#Explore the extreme values and outliers of the dataset Human Development Index
#Explore the extreme values and outliers of the dataset World Development Indicators

In [25]:
#TODO

#Explore the data pattern of the dataset WHO Suicide Statistics
SuicideStats.hist()
#Explore the data pattern of the dataset Human Development Index
#Explore the data pattern of the dataset World Development Indicators

AttributeError: 'DataFrame' object has no attribute 'hist'

In [14]:
#Data Manipulation
from pyspark.sql.types import (StructField,StringType,IntegerType,StructType)

#Selecting Items
#select records with populartion greater than 0
SuicideStats.createOrReplaceTempView('suicideStats')
SuicideStats = spark.sql("SELECT age FROM suicideStats WHERE population >= 0")
SuicideStats.show()

+-----------+
|        age|
+-----------+
|15-24 years|
|25-34 years|
|35-54 years|
| 5-14 years|
|55-74 years|
|  75+ years|
|15-24 years|
|25-34 years|
|35-54 years|
| 5-14 years|
|55-74 years|
|  75+ years|
|15-24 years|
|25-34 years|
|35-54 years|
| 5-14 years|
|55-74 years|
|  75+ years|
|15-24 years|
|25-34 years|
+-----------+
only showing top 20 rows

In [9]:
#remove HDI Rank from HDIStats
HDIStats.drop("HDI Rank").columns

['Country',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018']

In [15]:
#Data cleaning
#remove misssing values from WHO Suicide Statistics
SuicideStats = SuicideStats.na.drop(subset="suicides_no")
SuicideStats.show()

AnalysisException: 'Cannot resolve column name "suicides_no" among (age);'

In [ ]:
#cleaning HDIStats
#replace missing value with the mean value of this country
from pyspark.sql.functions import mean

In [ ]:
#cleanig WDIStats
#replace missing value with the mean value of this country
mean_sales = HDIStats.select(mean(df['Sales'])).collect()
mean_sales

#remove misssing values from World Development Indicators

#Discard outliers and extremes

In [ ]:
#Construct the Data
#add new feature suicidePer100k to SuicideStats

In [ ]:
#transport HDI score

In [ ]:
#Integrate Data Sources

In [ ]:
#Format the data
df = df.withColumn("longitude", df["longitude"].cast(FloatType())) \

In [ ]:
#Reduce the data

In [ ]:
#Project the data