In [33]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

In [34]:
# Use Spark to read csv file
SuicideStats = spark.read.csv("data/who_suicide_statistics.csv",inferSchema=True,header=True)
HDIStats = spark.read.csv("data/Human Development Index.csv",inferSchema=True,header=True)
WDIStats = spark.read.csv("data/World_Development_Indicators.csv",inferSchema=True,header=True)

In [35]:
#Data Exploration

#Explore the volumn of the dataset WHO Suicide Statistics
print((SuicideStats.count(), len(SuicideStats.columns)))

(43776, 6)

In [36]:
#Explore the volumn of the dataset Human Development Index
print((HDIStats.count(), len(HDIStats.columns)))

(189, 31)

In [37]:
#Explore the volumn of the dataset World Development Indicators
print((WDIStats.count(), len(WDIStats.columns)))

(6944, 6)

In [38]:
#Explore the data quality of the dataset WHO Suicide Statistics
print(SuicideStats.columns)
SuicideStats.show(6)

['country', 'year', 'sex', 'age', 'suicides_no', 'population']
+-------+----+------+-----------+-----------+----------+
|country|year|   sex|        age|suicides_no|population|
+-------+----+------+-----------+-----------+----------+
|Albania|1985|female|15-24 years|       null|    277900|
|Albania|1985|female|25-34 years|       null|    246800|
|Albania|1985|female|35-54 years|       null|    267500|
|Albania|1985|female| 5-14 years|       null|    298300|
|Albania|1985|female|55-74 years|       null|    138700|
|Albania|1985|female|  75+ years|       null|     34200|
+-------+----+------+-----------+-----------+----------+
only showing top 6 rows

In [39]:
#Explore the data type of the dataset WHO Suicide Statistics
SuicideStats.printSchema()

root
 |-- country: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: string (nullable = true)
 |-- suicides_no: integer (nullable = true)
 |-- population: integer (nullable = true)

In [40]:
SuicideStats.select("sex").distinct().show()
SuicideStats.select("age").distinct().show()
print(SuicideStats.select("country").distinct().count())
SuicideStats.select("country").distinct().show()

+------+
|   sex|
+------+
|female|
|  male|
+------+

+-----------+
|        age|
+-----------+
|55-74 years|
|25-34 years|
| 5-14 years|
|  75+ years|
|15-24 years|
|35-54 years|
+-----------+

141
+--------------------+
|             country|
+--------------------+
|            Anguilla|
|            Paraguay|
|          Cabo Verde|
|              Sweden|
|            Kiribati|
|   Republic of Korea|
|              Guyana|
|         Philippines|
|Occupied Palestin...|
|            Malaysia|
|           Singapore|
|                Fiji|
|              Turkey|
|      TFYR Macedonia|
|                Iraq|
|             Germany|
|              Jordan|
|            Maldives|
|              France|
|Turks and Caicos ...|
+--------------------+
only showing top 20 rows

In [41]:
#Explore the general statistics of the dataset WHO Suicide Statistics
SuicideStats.describe().show()

+-------+--------+------------------+------+-----------+-----------------+------------------+
|summary| country|              year|   sex|        age|      suicides_no|        population|
+-------+--------+------------------+------+-----------+-----------------+------------------+
|  count|   43776|             43776| 43776|      43776|            41520|             38316|
|   mean|    null|1998.5024671052631|  null|       null|193.3153901734104|1664091.1353742562|
| stddev|    null|10.338711176746282|  null|       null|800.5899259349637|3647231.2274873867|
|    min| Albania|              1979|female|15-24 years|                0|               259|
|    max|Zimbabwe|              2016|  male|  75+ years|            22338|          43805214|
+-------+--------+------------------+------+-----------+-----------------+------------------+

In [42]:
#Explore the data quality of the dataset Human Development Index
print(HDIStats.columns)
HDIStats.show(6)

['HDI Rank', 'Country', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']
+--------+-----------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|HDI Rank|          Country| 1990| 1991| 1992| 1993| 1994| 1995| 1996| 1997| 1998| 1999| 2000| 2001| 2002| 2003| 2004| 2005| 2006| 2007| 2008| 2009| 2010| 2011| 2012| 2013| 2014| 2015| 2016| 2017| 2018|
+--------+-----------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|     170|      Afghanistan|0.298|0.304|0.312|0.308|0.303|0.327|0.331|0.335|0.339|0.343|0.345|0.347|0.378|0.387|  0.4| 0.41|0.419|0.431|0.436|0.447|0.464|0.465|0.479|0.485|0.488| 0.49|0.491|0.493|0.496|
|      69|          Albania|0.644|0.625|0.608|0.611|0.617|0.629|0.639|0.639|0.649| 0.66|0.667|0.673| 0.68|0.687|0.692|0.702|0.709|0.718|0.724|0.729| 0.74|0.759|0.771|0.781|0.787|0.788|0.788|0.789|0.791|
|      82|          Algeria|0.578|0.582|0.589|0.593|0.597|0.602| 0.61|0.619|0.629|0.638|0.646|0.655|0.666|0.676|0.685|0.694|0.699|0.708|0.711| 0.72| 0.73|0.738|0.737|0.746|0.749|0.751|0.755|0.758|0.759|
|      36|          Andorra|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|0.759|0.767| 0.78| 0.82|0.826|0.819|0.829|0.829|0.831| 0.83|0.828|0.827|0.849|0.846|0.853| 0.85|0.854|0.852|0.857|
|     149|           Angola|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|0.384|0.394|0.404|0.419|0.428| 0.44|0.453|0.466|0.482|0.494|0.508| 0.51|0.525|0.537|0.547|0.557|0.565| 0.57|0.576|0.574|
|      74|AntiguaandBarbuda|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|   ..|0.773|0.779|0.784|0.783|0.776|0.772|0.764|0.767|0.767|0.767| 0.77|0.772|0.774|0.776|
+--------+-----------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 6 rows

In [43]:
#Explore the data type of the dataset Human Development Index
HDIStats.printSchema()

root
 |-- HDI Rank: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- 1990: string (nullable = true)
 |-- 1991: string (nullable = true)
 |-- 1992: string (nullable = true)
 |-- 1993: string (nullable = true)
 |-- 1994: string (nullable = true)
 |-- 1995: string (nullable = true)
 |-- 1996: string (nullable = true)
 |-- 1997: string (nullable = true)
 |-- 1998: string (nullable = true)
 |-- 1999: string (nullable = true)
 |-- 2000: string (nullable = true)
 |-- 2001: string (nullable = true)
 |-- 2002: string (nullable = true)
 |-- 2003: string (nullable = true)
 |-- 2004: string (nullable = true)
 |-- 2005: string (nullable = true)
 |-- 2006: string (nullable = true)
 |-- 2007: string (nullable = true)
 |-- 2008: string (nullable = true)
 |-- 2009: string (nullable = true)
 |-- 2010: string (nullable = true)
 |-- 2011: string (nullable = true)
 |-- 2012: string (nullable = true)
 |-- 2013: string (nullable = true)
 |-- 2014: string (nullable = true)
 |-- 2015: string (nullable = true)
 |-- 2016: string (nullable = true)
 |-- 2017: double (nullable = true)
 |-- 2018: double (nullable = true)

In [44]:
#Explore the general statistics of the dataset Human Development Index
HDIStats.describe().show()

+-------+-----------------+-----------+-------------------+------------------+-------------------+-------------------+-------------------+------------------+-------------------+------------------+------------------+-----------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+------------------+-------------------+-------------------+
|summary|         HDI Rank|    Country|               1990|              1991|               1992|               1993|               1994|              1995|               1996|              1997|              1998|             1999|               2000|               2001|               2002|              2003|               2004|               2005|              2006|               2007|               2008|               2009|               2010|               2011|              2012|               2013|              2014|               2015|              2016|               2017|               2018|
+-------+-----------------+-----------+-------------------+------------------+-------------------+-------------------+-------------------+------------------+-------------------+------------------+------------------+-----------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+------------------+-------------------+-------------------+
|  count|              189|        189|                189|               189|                189|                189|                189|               189|                189|               189|               189|              189|                189|                189|                189|               189|                189|                189|               189|                189|                189|                189|                189|                189|               189|                189|               189|                189|               189|                189|                189|
|   mean|94.77248677248677|       null| 0.5949513888888888|0.5971597222222224| 0.5969790209790211| 0.6028611111111108| 0.6065277777777774|0.6103445945945944|  0.615858108108108|0.6191700680272109|0.6262432432432437|0.626814569536424|   0.62732183908046| 0.6329540229885059| 0.6388800000000002| 0.643994350282486| 0.6505307262569835| 0.6540537634408602|0.6611290322580645| 0.6681075268817206| 0.6741612903225808|              0.678|  0.681712765957447| 0.6874202127659573|0.6922659574468086|  0.697127659574468|0.7013989361702128| 0.7053510638297874| 0.708489361702128| 0.7112222222222223| 0.7134708994708996|
| stddev|54.74045223905498|       null|0.16559426064600388|0.1659663654186352|0.16557515924678484|0.16770526973848346|0.17017526729998575|0.1689925616379318|0.16869249123917165|0.1681109945696617|0.1693128015950585| 0.17098102834227|0.16947293297641114|0.16910990427413294|0.16791377918854467|0.1680289645342278|0.16595157309405328|0.16487937379999615| 0.163487910177461|0.16223995991027756|0.16067884977099967|0.15777250128638434|0.15668153758878414|0.15506161968527132|0.1538444367098304|0.15355305195799956|0.1526419928026906|0.15229314593351687|0.1521042243771921|0.15121385917194813|0.15079461673378391|
|    min|                1|Afghanistan|                 ..|                ..|                 ..|                 ..|                 ..|                ..|                 ..|                ..|                ..|               ..|                 ..|                 ..|                 ..|                ..|                 ..|                 ..|                ..|                 ..|                 ..|                 ..|                 ..|                 ..|                ..|                 ..|                ..|                 ..|                ..|              0.373|              0.377|
|    max|              189|   Zimbabwe|              0.866|             0.867|              0.868|              0.872|              0.885|             0.883|              0.888|             0.894|             0.906|            0.911|              0.917|              0.916|              0.918|             0.924|              0.934|              0.932|             0.936|              0.938|              0.938|              0.938|              0.942|              0.943|             0.942|              0.946|             0.945|              0.948|             0.951|              0.953|              0.954|
+-------+-----------------+-----------+-------------------+------------------+-------------------+-------------------+-------------------+------------------+-------------------+------------------+------------------+-----------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+------------------+-------------------+-------------------+

In [45]:
#Explore the data quality of the dataset World Development Indicators
print(WDIStats.columns)
WDIStats.show(6)

['Country Name', 'Year', 'Employment to population ratio', 'GDP', 'GDP per capita', 'Gini index']
+------------+----+------------------------------+----+--------------+----------+
|Country Name|Year|Employment to population ratio| GDP|GDP per capita|Gini index|
+------------+----+------------------------------+----+--------------+----------+
| Afghanistan|1985|                          null|null|          null|      null|
| Afghanistan|1986|                          null|null|          null|      null|
| Afghanistan|1987|                          null|null|          null|      null|
| Afghanistan|1988|                          null|null|          null|      null|
| Afghanistan|1989|                          null|null|          null|      null|
| Afghanistan|1990|                          null|null|          null|      null|
+------------+----+------------------------------+----+--------------+----------+
only showing top 6 rows

In [46]:
#Explore the data type of the dataset World Development Indicators
WDIStats.printSchema()

root
 |-- Country Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Employment to population ratio: double (nullable = true)
 |-- GDP: double (nullable = true)
 |-- GDP per capita: double (nullable = true)
 |-- Gini index: double (nullable = true)

In [47]:
#Explore the general statistics of the dataset World Development Indicators
WDIStats.describe().show()

+-------+------------+-----------------+------------------------------+--------------------+------------------+-----------------+
|summary|Country Name|             Year|Employment to population ratio|                 GDP|    GDP per capita|       Gini index|
+-------+------------+-----------------+------------------------------+--------------------+------------------+-----------------+
|  count|        6944|             6944|                          4862|                5979|              5976|             1550|
|   mean|        null|           2000.5|              57.6225362242226|2.745890309848958...| 13124.04119241654|38.62148387096775|
| stddev|        null|9.233757553344075|            11.968146617150545|1.111967617317697E12|20099.670239668914|9.432100956926329|
|    min| Afghanistan|             1985|                   26.32999992|       2.144196696E7|       164.1918663|             20.2|
|    max|    Zimbabwe|             2016|                    90.4469986|          1.69723E13|       194368.4055|             65.8|
+-------+------------+-----------------+------------------------------+--------------------+------------------+-----------------+

In [48]:
#Explore missing values in the dataset WHO Suicide Statistics
from pyspark.sql.functions import when, count, col

SuicideStats.select([count(when(col(c).isNull(), c)).alias(c) for c in SuicideStats.columns]).show()
SuicideStats.describe().filter(col("summary")  == "count").show()

+-------+----+---+---+-----------+----------+
|country|year|sex|age|suicides_no|population|
+-------+----+---+---+-----------+----------+
|      0|   0|  0|  0|       2256|      5460|
+-------+----+---+---+-----------+----------+

+-------+-------+-----+-----+-----+-----------+----------+
|summary|country| year|  sex|  age|suicides_no|population|
+-------+-------+-----+-----+-----+-----------+----------+
|  count|  43776|43776|43776|43776|      41520|     38316|
+-------+-------+-----+-----+-----+-----------+----------+

In [93]:
#Re-import dataset, taking .. as null value
HDIStats = spark.read.csv("data/Human Development Index.csv",inferSchema=True, header=True, nullValue="..")

#Explore missing values in the dataset World Development Indicators
HDIStats.select([count(when(col(c).isNull(), c)).alias(c) for c in HDIStats.columns]).show()
HDIStats.describe().filter(col("summary")  == "count").show()

+--------+-------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|HDI Rank|Country|1990|1991|1992|1993|1994|1995|1996|1997|1998|1999|2000|2001|2002|2003|2004|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|
+--------+-------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|       0|      0|  45|  45|  46|  45|  45|  41|  41|  42|  41|  38|  15|  15|  14|  12|  10|   3|   3|   3|   3|   3|   1|   1|   1|   1|   1|   1|   1|   0|   0|
+--------+-------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+

+-------+--------+-------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|summary|HDI Rank|Country|1990|1991|1992|1993|1994|1995|1996|1997|1998|1999|2000|2001|2002|2003|2004|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|
+-------+--------+-------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|  count|     189|    189| 144| 144| 143| 144| 144| 148| 148| 147| 148| 151| 174| 174| 175| 177| 179| 186| 186| 186| 186| 186| 188| 188| 188| 188| 188| 188| 188| 189| 189|
+-------+--------+-------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+

In [50]:
#Explore missing values in the dataset World Development Indicators
WDIStats.select([count(when(col(c).isNull(), c)).alias(c) for c in WDIStats.columns]).show()
WDIStats.describe().filter(col("summary")  == "count").show()

+------------+----+------------------------------+---+--------------+----------+
|Country Name|Year|Employment to population ratio|GDP|GDP per capita|Gini index|
+------------+----+------------------------------+---+--------------+----------+
|           0|   0|                          2082|965|           968|      5394|
+------------+----+------------------------------+---+--------------+----------+

+-------+------------+----+------------------------------+----+--------------+----------+
|summary|Country Name|Year|Employment to population ratio| GDP|GDP per capita|Gini index|
+-------+------------+----+------------------------------+----+--------------+----------+
|  count|        6944|6944|                          4862|5979|          5976|      1550|
+-------+------------+----+------------------------------+----+--------------+----------+

In [51]:
#TODO

#Explore the extreme values and outliers of the dataset WHO Suicide Statistics
#Explore the extreme values and outliers of the dataset Human Development Index
#Explore the extreme values and outliers of the dataset World Development Indicators

In [52]:
#TODO

#Explore the data pattern of the dataset WHO Suicide Statistics
#Explore the data pattern of the dataset Human Development Index
#Explore the data pattern of the dataset World Development Indicators

In [53]:
#Data Manipulation
from pyspark.sql.types import (StructField,StringType,IntegerType,StructType)

#Selecting Items
#select records with populartion greater than 0
print((SuicideStats.count(), len(SuicideStats.columns)))

SuicideStats.createOrReplaceTempView('suicideStats')
SuicideStats = spark.sql("SELECT * FROM suicideStats WHERE population >= 0")
print((SuicideStats.count(), len(SuicideStats.columns)))

(43776, 6)
(38316, 6)

In [94]:
#remove HDI Rank from HDIStats
print((HDIStats.count(), len(HDIStats.columns)))

HDIStats = HDIStats.drop("HDI Rank")

print((HDIStats.count(), len(HDIStats.columns)))

(189, 31)
(189, 30)

In [95]:
HDIStats.show(6)

+-----------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|          Country| 1990| 1991| 1992| 1993| 1994| 1995| 1996| 1997| 1998| 1999| 2000| 2001| 2002| 2003| 2004| 2005| 2006| 2007| 2008| 2009| 2010| 2011| 2012| 2013| 2014| 2015| 2016| 2017| 2018|
+-----------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|      Afghanistan|0.298|0.304|0.312|0.308|0.303|0.327|0.331|0.335|0.339|0.343|0.345|0.347|0.378|0.387|  0.4| 0.41|0.419|0.431|0.436|0.447|0.464|0.465|0.479|0.485|0.488| 0.49|0.491|0.493|0.496|
|          Albania|0.644|0.625|0.608|0.611|0.617|0.629|0.639|0.639|0.649| 0.66|0.667|0.673| 0.68|0.687|0.692|0.702|0.709|0.718|0.724|0.729| 0.74|0.759|0.771|0.781|0.787|0.788|0.788|0.789|0.791|
|          Algeria|0.578|0.582|0.589|0.593|0.597|0.602| 0.61|0.619|0.629|0.638|0.646|0.655|0.666|0.676|0.685|0.694|0.699|0.708|0.711| 0.72| 0.73|0.738|0.737|0.746|0.749|0.751|0.755|0.758|0.759|
|          Andorra| null| null| null| null| null| null| null| null| null| null|0.759|0.767| 0.78| 0.82|0.826|0.819|0.829|0.829|0.831| 0.83|0.828|0.827|0.849|0.846|0.853| 0.85|0.854|0.852|0.857|
|           Angola| null| null| null| null| null| null| null| null| null|0.384|0.394|0.404|0.419|0.428| 0.44|0.453|0.466|0.482|0.494|0.508| 0.51|0.525|0.537|0.547|0.557|0.565| 0.57|0.576|0.574|
|AntiguaandBarbuda| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null|0.773|0.779|0.784|0.783|0.776|0.772|0.764|0.767|0.767|0.767| 0.77|0.772|0.774|0.776|
+-----------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 6 rows

In [56]:
#Data cleaning
#remove misssing values from WHO Suicide Statistics
print((SuicideStats.count(), len(SuicideStats.columns)))
SuicideStats = SuicideStats.na.drop(subset="suicides_no")
print((SuicideStats.count(), len(SuicideStats.columns)))

#Display the number of null value in each column after removing missing values
SuicideStats.select([count(when(col(c).isNull(), c)).alias(c) for c in SuicideStats.columns]).show()

(38316, 6)
(36060, 6)
+-------+----+---+---+-----------+----------+
|country|year|sex|age|suicides_no|population|
+-------+----+---+---+-----------+----------+
|      0|   0|  0|  0|          0|         0|
+-------+----+---+---+-----------+----------+

In [96]:
#Calculate mean value of each country

from pyspark.sql.functions import mean

HDIStatsMean = HDIStats.na.fill(0)
HDIStatsMean = HDIStatsMean.select(col('Country'), (sum(col(x) for x in HDIStats.columns[1:]) / len(HDIStats.columns)-1).alias("mean"))

HDIStatsMean.show(6)

+-----------------+--------------------+
|          Country|                mean|
+-----------------+--------------------+
|      Afghanistan| -0.6149666666666667|
|          Albania|-0.32346666666666657|
|          Algeria|              -0.346|
|          Andorra| -0.4764666666666667|
|           Angola| -0.6722333333333333|
|AntiguaandBarbuda|             -0.6392|
+-----------------+--------------------+
only showing top 6 rows

In [97]:
HDIStats = HDIStats.alias('a')\
    .join(HDIStatsMean.alias('b'),col('b.Country') == col('a.Country'))\
    .select([when(col('a.'+xx).isNull(), col('b.mean')).otherwise(col('a.'+xx)).alias(xx) for xx in HDIStats.columns])

#Display the number of null value in each column after removing missing values
HDIStats.select([count(when(col(c).isNull(), c)).alias(c) for c in HDIStats.columns]).show()

+-------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|Country|1990|1991|1992|1993|1994|1995|1996|1997|1998|1999|2000|2001|2002|2003|2004|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|
+-------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|      0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
+-------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+

In [59]:
#cleanig WDIStats
#replace missing value with the mean value of this country
from pyspark.sql.functions import avg

WDIStats.select([count(when(col(c).isNull(), c)).alias(c) for c in WDIStats.columns]).show()

def fill_with_mean(df, exclude=set()): 
    stats = df.agg(*(
        avg(c).alias(c) for c in df.columns if c not in exclude
    ))
    return df.na.fill(stats.first().asDict())

WDIStats = fill_with_mean(WDIStats, ["Country Name", "Year"])

WDIStats.select([count(when(col(c).isNull(), c)).alias(c) for c in WDIStats.columns]).show()

+------------+----+------------------------------+---+--------------+----------+
|Country Name|Year|Employment to population ratio|GDP|GDP per capita|Gini index|
+------------+----+------------------------------+---+--------------+----------+
|           0|   0|                          2082|965|           968|      5394|
+------------+----+------------------------------+---+--------------+----------+

+------------+----+------------------------------+---+--------------+----------+
|Country Name|Year|Employment to population ratio|GDP|GDP per capita|Gini index|
+------------+----+------------------------------+---+--------------+----------+
|           0|   0|                             0|  0|             0|         0|
+------------+----+------------------------------+---+--------------+----------+

In [62]:
#remove extreme and outliers
from pyspark.sql import DataFrameStatFunctions

print((SuicideStats.count(), len(SuicideStats.columns)))

bounds = {
    c: dict(
        zip(["q1", "q3"], SuicideStats.approxQuantile(c, [0.25, 0.75], 0))
    )
    for c in SuicideStats.columns if c in ["suicides_no", "population"]
}

for c in bounds:
    iqr = bounds[c]['q3'] - bounds[c]['q1']
    bounds[c]['lower'] = bounds[c]['q1'] - (iqr * 1.5)
    bounds[c]['upper'] = bounds[c]['q3'] + (iqr * 1.5)

SuicideStats = SuicideStats.select(
    "*",
    *[
        when(
            col(c).between(bounds[c]['lower'], bounds[c]['upper']),
            0
        ).otherwise(1).alias(c+"_out") 
        for c in SuicideStats.columns  if c in ["suicides_no", "population"]
    ]
)

SuicideStats.createOrReplaceTempView('SuicideStats')
SuicideStats = spark.sql("SELECT country, year, sex, age, suicides_no, population FROM SuicideStats WHERE suicides_no_out = 0 and population_out=0 ")
print((SuicideStats.count(), len(SuicideStats.columns)))

(36060, 6)
(28783, 6)

In [64]:
#Construct the Data
#add new feature suicidePer100k to SuicideStats

print((SuicideStats.count(), len(SuicideStats.columns)))
SuicideStats = SuicideStats.withColumn("SuicidePer100k", col("suicides_no")/col("population")*100000)

print((SuicideStats.count(), len(SuicideStats.columns)))
SuicideStats.show(6)

(28783, 6)
(28783, 7)
+-------+----+------+-----------+-----------+----------+------------------+
|country|year|   sex|        age|suicides_no|population|    SuicidePer100k|
+-------+----+------+-----------+-----------+----------+------------------+
|Albania|1987|female|15-24 years|         14|    289700|4.8325854332067655|
|Albania|1987|female|25-34 years|          4|    257200|1.5552099533437014|
|Albania|1987|female|35-54 years|          6|    278800|2.1520803443328553|
|Albania|1987|female| 5-14 years|          0|    311000|               0.0|
|Albania|1987|female|55-74 years|          0|    144600|               0.0|
|Albania|1987|female|  75+ years|          1|     35600| 2.808988764044944|
+-------+----+------+-----------+-----------+----------+------------------+
only showing top 6 rows

In [98]:
#transport HDI score 
#HDIStats.columns
from pyspark.sql.functions import array, col, explode, struct, lit

HDIStats.show(3)

cols, dtypes = zip(*((c, t) for (c, t) in HDIStats.dtypes if c not in ['Country']))
kvs = explode(array([
      struct(lit(c).alias("Year"), col(c).alias("HDIScore")) for c in cols
    ])).alias("kvs")
    
HDIStats = HDIStats.select(['Country'] + [kvs]).select(['Country'] + ["kvs.Year", "kvs.HDIScore"])
HDIStats.show(6)

+-----------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|    Country| 1990| 1991| 1992| 1993| 1994| 1995| 1996| 1997| 1998| 1999| 2000| 2001| 2002| 2003| 2004| 2005| 2006| 2007| 2008| 2009| 2010| 2011| 2012| 2013| 2014| 2015| 2016| 2017| 2018|
+-----------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|Afghanistan|0.298|0.304|0.312|0.308|0.303|0.327|0.331|0.335|0.339|0.343|0.345|0.347|0.378|0.387|  0.4| 0.41|0.419|0.431|0.436|0.447|0.464|0.465|0.479|0.485|0.488| 0.49|0.491|0.493|0.496|
|    Albania|0.644|0.625|0.608|0.611|0.617|0.629|0.639|0.639|0.649| 0.66|0.667|0.673| 0.68|0.687|0.692|0.702|0.709|0.718|0.724|0.729| 0.74|0.759|0.771|0.781|0.787|0.788|0.788|0.789|0.791|
|    Algeria|0.578|0.582|0.589|0.593|0.597|0.602| 0.61|0.619|0.629|0.638|0.646|0.655|0.666|0.676|0.685|0.694|0.699|0.708|0.711| 0.72| 0.73|0.738|0.737|0.746|0.749|0.751|0.755|0.758|0.759|
+-----------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 3 rows

+-----------+----+--------+
|    Country|Year|HDIScore|
+-----------+----+--------+
|Afghanistan|1990|   0.298|
|Afghanistan|1991|   0.304|
|Afghanistan|1992|   0.312|
|Afghanistan|1993|   0.308|
|Afghanistan|1994|   0.303|
|Afghanistan|1995|   0.327|
+-----------+----+--------+
only showing top 6 rows

In [104]:
#Integrate Data Sources
datasource = SuicideStats.alias('s')\
    .join(HDIStats.alias('h'),col('s.country') == col('h.Country') & col('s.year') = col('h.Year'))\
    .join(WDIStats.alias('w'),col('w.Country_Name') == col('s.Country')& col('s.year') = col('h.Year'))\
    .select([s.*, h.HDIScore, w.Employment_to_population_ratio, w.GDP,w.GDP_per_capita, w.Gini_index])

SyntaxError: keyword can't be an expression (<ipython-input-104-cc3fe32259a4>, line 2)

In [110]:
#Integrate Data Sources
datasource = SuicideStats\
    .join(HDIStats, (SuicideStats.country == HDIStats.Country) & (SuicideStats.year == HDIStats.Year))\
    .join(WDIStats, (SuicideStats.country == WDIStats.Country_Name) & (SuicideStats.year == WDIStats.Year))\
    .select(['SuicideStats.country', 'SuicideStats.year', 'SuicideStats.sex', 'SuicideStats.age', 'SuicideStats.suicides_no',
             'SuicideStats.population', 'SuicideStats.SuicidePer100k', 'HDIStats.HDIScore', 
             'WDIStats.EmploymentToPopulationRatio', 'WDIStats.GDP', 'WDIStats.GDPPerCapita', 'WDIStats.GiniIndex'])

datasource = datasource.withColumnRenamed("country","Country")\
    .withColumnRenamed("year","Year")\
    .withColumnRenamed("sex","Sex")\
    .withColumnRenamed("age","Age")\
    .withColumnRenamed("suicides_no","SuicidesNo")\
    .withColumnRenamed("population","Population")

In [101]:
WDIStats.columns

['Country_Name',
 'Year',
 'Employment_to_population_ratio',
 'GDP',
 'GDP_per_capita',
 'Gini_index']

In [100]:
HDIStats.columns

['Country', 'Year', 'HDIScore']

In [99]:
SuicideStats.columns

['country',
 'year',
 'sex',
 'age',
 'suicides_no',
 'population',
 'SuicidePer100k']

+-----------+----+--------+
|    Country|Year|HDIScore|
+-----------+----+--------+
|Afghanistan|1990|   0.298|
|Afghanistan|1991|   0.304|
|Afghanistan|1992|   0.312|
|Afghanistan|1993|   0.308|
|Afghanistan|1994|   0.303|
|Afghanistan|1995|   0.327|
|Afghanistan|1996|   0.331|
|Afghanistan|1997|   0.335|
|Afghanistan|1998|   0.339|
|Afghanistan|1999|   0.343|
+-----------+----+--------+
only showing top 10 rows

In [ ]:
#Integrate Data Sources

In [ ]:
#Format the data
df = df.withColumn("longitude", df["longitude"].cast(FloatType())) \

In [ ]:
#Reduce the data

In [ ]:
#Project the data